# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
bower_components

# Packages and lock files
package-lock.json
*.tgz

# Build outputs
build/
lib-cov
coverage/
.nyc_output
.grunt
.lock-wscript
.next

# Optional cache directories
.npm
.yarn-integrity
.eslintcache

# TypeScript
typings/

# REPL
.node_repl_history

# Env vars
.env

# Output of Jekyll or static site generators
docs/_site/
docs/resources/images/

# Temp or custom data folder (local only)
data/